.button-topo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(255, 203, 160, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    display: none;

    bottom: 20px;
    right: 20px;
    background-color: #fa7e14;
    text-decoration: none;
}

#scrollTopBtn.show {
    display: flex;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button-topo:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #d63384;
    align-items: center;
}

.button-topo:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button-topo::before {
    position: absolute;
    bottom: -20px;
    content: "Voltar ao topo";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button-topo:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}